.post-profile {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 14px;
  border: 1px solid #d3d3d3;

  .info {
    display: flex;
    justify-content: center;
    align-items: center;

    .profile-image {
      height: 32px;
      width: 32px;
      border-radius: 50%;
      object-fit: cover;
    }

    span {
      margin-left: 10px;
      font-weight: 500;
      font-size: 0.9rem;
    }
  }
  button {
    color: #0095f6;
    background-color: white;
    border: none;
    cursor: pointer;

    &:disabled {
      color: black;
      cursor: default;
    }
  }
}
