.post-wrapper {
  padding: 0 20px;

  .loading-error-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 250px;
  }

  .no-post {
    margin-top: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .post {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 50px 0;
    background-color: #fafafa;

    @media screen and (max-width: 950px) {
      flex-direction: column;
    }

    .post-image {
      height: 598px;
      width: auto;
      max-width: 650px;
      object-fit: fit;

      @media screen and (max-width: 950px) {
        height: auto;
        max-width: unset;
        width: 100%;
      }
    }

    .details {
      height: 598px;
      width: 460px;
      display: flex;
      flex-direction: column;
      flex-shrink: 1;
      background-color: white;

      @media screen and (max-width: 950px) {
        flex-direction: column;
        width: 100%;
        height: auto;
      }
    }
  }
}
