.post-form {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #d3d3d3;
  padding: 0 14px;

  input {
    flex: 1;
    border: none;
    height: 40px;
    resize: none;

    &:focus {
      outline: none;
    }
  }

  button {
    border: none;
    background-color: white;
    color: #0095f6;
    height: 100%;
    cursor: pointer;

    &:disabled {
      color: #a6d5f5;
      cursor: default;
    }
  }
}
